// Posts
$post-bg-color:       #F6F3F1;
$post-border-color:   red;

// Footer
$footer-bg:						#E7E5E1;
$footer-text:					darken($footer-bg, 25%);
$footer-a: 	      		darken($footer-bg, 35%);
$footer-a-hover:			darken($footer-bg, 55%);

// Footer
